Predicting Traffic Crash Severity in Chicago

This project aims to predict the most severe traffic crashes in Chicago using the inputs such as weather, speed limits, road direction, road condition, and Traffic way type. The goal is to identify high-risk conditions to develop road safety.

Target Variable 'Most Severe Injury' and going to use Leaner Regression Model to predict this.

Here is the first step in Data Wrangling, importing libraries and data loading

Import: 
Importing libraries will help to use the modules which is contains functions, and methods

In [3]:
#impot pandas, and os
import pandas as pd
import os

Data Collection: 
Data collection is the process of gathering information from various formatted types. Here, the data is in CSV file

In [4]:
#loading the data 'Car Crashes Chicago in 2022' from the CSV file to the variable "Car_crash"
#using the method 'read_csv'
Car_crash = pd.read_csv('Car Crashes - Chicago in 2022 .csv')

Defining Data: 
The 'Car Crashesâ€”Chicago in 2022' data contains 43068 rows and 48 columns. Use some panda methods to define this data set. Through this defining we can know the number of columns and rows, what is the datatype, what the variables are and what it means.

In [5]:
#using info() method to see the columns, Non-null counts, and dtype
Car_crash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43068 entries, 0 to 43067
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH_RECORD_ID                43068 non-null  object
 1   CRASH_DATE_EST_I               3314 non-null   object
 2   CRASH_DATE                     43068 non-null  object
 3   POSTED_SPEED_LIMIT             43068 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         43068 non-null  object
 5   DEVICE_CONDITION               43068 non-null  object
 6   WEATHER_CONDITION              43068 non-null  object
 7   LIGHTING_CONDITION             43068 non-null  object
 8   FIRST_CRASH_TYPE               43068 non-null  object
 9   TRAFFICWAY_TYPE                43068 non-null  object
 10  LANE_CNT                       4 non-null      float64
 11  ALIGNMENT                      43068 non-null  object
 12  ROADWAY_SURFACE_COND           43068 non-null  object
 13  ROAD_DEFECT                    43068 non-null  object
 14  REPORT_TYPE                    41564 non-null  object
 15  CRASH_TYPE                     43068 non-null  object
 16  INTERSECTION_RELATED_I         10254 non-null  object
 17  NOT_RIGHT_OF_WAY_I             2044 non-null   object
 18  HIT_AND_RUN_I                  14811 non-null  object
 19  DAMAGE                         43068 non-null  object
 20  DATE_POLICE_NOTIFIED           43068 non-null  object
 21  PRIM_CONTRIBUTORY_CAUSE        43068 non-null  object
 22  SEC_CONTRIBUTORY_CAUSE         43068 non-null  object
 23  STREET_NO                      43068 non-null  int64
 24  STREET_DIRECTION               43068 non-null  object
 25  STREET_NAME                    43068 non-null  object
 26  BEAT_OF_OCCURRENCE             43068 non-null  int64
 27  PHOTOS_TAKEN_I                 486 non-null    object
 28  STATEMENTS_TAKEN_I             959 non-null    object
 29  DOORING_I                      90 non-null     object
 30  WORK_ZONE_I                    138 non-null    object
 31  WORK_ZONE_TYPE                 98 non-null     object
 32  WORKERS_PRESENT_I              45 non-null     object
 33  NUM_UNITS                      43068 non-null  int64
 34  MOST_SEVERE_INJURY             42972 non-null  object
 35  INJURIES_TOTAL                 42972 non-null  float64
 36  INJURIES_FATAL                 42972 non-null  float64
 37  INJURIES_INCAPACITATING        42972 non-null  float64
 38  INJURIES_NON_INCAPACITATING    42972 non-null  float64
 39  INJURIES_REPORTED_NOT_EVIDENT  42972 non-null  float64
 40  INJURIES_NO_INDICATION         42972 non-null  float64
 41  INJURIES_UNKNOWN               42972 non-null  float64
 42  CRASH_HOUR                     43068 non-null  int64
 43  CRASH_DAY_OF_WEEK              43068 non-null  int64
 44  CRASH_MONTH                    43068 non-null  int64
 45  LATITUDE                       42699 non-null  float64
 46  LONGITUDE                      42699 non-null  float64
 47  LOCATION                       42699 non-null  object
dtypes: float64(10), int64(7), object(31)
memory usage: 15.8+ MB

In [6]:
#To see the sample of five rows, use .head() method.
Car_crash.head()

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,359bf9f5872d646bb63576e55b1e0b480dc93c2b935ab5...,NaN,01/31/22,25,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,REAR END,ONE-WAY,...,0.0,0.0,5.0,0.0,19,2,1,NaN,NaN,NaN
1,36360857c079418cba1b1d70cf653595bbfb4566de8fcb...,Y,01/01/22,10,NO CONTROLS,NO CONTROLS,SNOW,"DARKNESS, LIGHTED ROAD",ANGLE,PARKING LOT,...,0.0,0.0,2.0,0.0,16,7,1,NaN,NaN,NaN
2,4a474e553cbf4d17eeb20981bf2c03572ac566cf1ba3a2...,NaN,01/30/22,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,ONE-WAY,...,0.0,0.0,2.0,0.0,8,1,1,NaN,NaN,NaN
3,8a4c06bd70d219f56aaf602db8bdb4e11e0d0825cfc8ac...,NaN,05/28/22,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,ONE-WAY,...,0.0,0.0,2.0,0.0,17,7,5,NaN,NaN,NaN
4,9bcf6196e48e1d1246507609659e37d210ac45ed650d6b...,NaN,04/16/22,10,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,PARKING LOT,...,0.0,0.0,1.0,0.0,11,7,4,NaN,NaN,NaN

In [7]:
# using function df[['column_name', ..]] to select some of the columns form the big dataset.
#and save them in the variable "Need_columns"
Need_columns = Car_crash[['CRASH_DATE', 'POSTED_SPEED_LIMIT', 'WEATHER_CONDITION',  'TRAFFICWAY_TYPE', 'ROADWAY_SURFACE_COND', 'STREET_DIRECTION', 'MOST_SEVERE_INJURY', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',]]

In [8]:
# To see the selected columns in the new variable, using .head() method
Need_columns.head()

,CRASH_DATE,POSTED_SPEED_LIMIT,WEATHER_CONDITION,TRAFFICWAY_TYPE,ROADWAY_SURFACE_COND,STREET_DIRECTION,MOST_SEVERE_INJURY,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH
0,01/31/22,25,CLEAR,ONE-WAY,DRY,W,NO INDICATION OF INJURY,19,2,1
1,01/01/22,10,SNOW,PARKING LOT,SNOW OR SLUSH,W,NO INDICATION OF INJURY,16,7,1
2,01/30/22,25,CLEAR,ONE-WAY,SNOW OR SLUSH,W,NO INDICATION OF INJURY,8,1,1
3,05/28/22,25,CLEAR,ONE-WAY,DRY,W,NO INDICATION OF INJURY,17,7,5
4,04/16/22,10,CLEAR,PARKING LOT,DRY,W,NO INDICATION OF INJURY,11,7,4

In [9]:
#To see number of selected columns and the dtype, using the method .info()
Need_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43068 entries, 0 to 43067
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CRASH_DATE            43068 non-null  object
 1   POSTED_SPEED_LIMIT    43068 non-null  int64
 2   WEATHER_CONDITION     43068 non-null  object
 3   TRAFFICWAY_TYPE       43068 non-null  object
 4   ROADWAY_SURFACE_COND  43068 non-null  object
 5   STREET_DIRECTION      43068 non-null  object
 6   MOST_SEVERE_INJURY    42972 non-null  object
 7   CRASH_HOUR            43068 non-null  int64
 8   CRASH_DAY_OF_WEEK     43068 non-null  int64
 9   CRASH_MONTH           43068 non-null  int64
dtypes: int64(4), object(6)
memory usage: 3.3+ MB

In [10]:
# To see only the columns that have integers, use pd method .select_dtypes('int')
#save the integer columns in 'Int' 
Int = Need_columns.select_dtypes('int')

In [11]:
# To see only the columns that have objects like characters and string type values, use pd method .select_dtypes('object')
#save the object columns in 'Object' 
Object = Need_columns.select_dtypes('object')

In [12]:
# To the sample five rows .head()
Object.head()

,CRASH_DATE,WEATHER_CONDITION,TRAFFICWAY_TYPE,ROADWAY_SURFACE_COND,STREET_DIRECTION,MOST_SEVERE_INJURY
0,01/31/22,CLEAR,ONE-WAY,DRY,W,NO INDICATION OF INJURY
1,01/01/22,SNOW,PARKING LOT,SNOW OR SLUSH,W,NO INDICATION OF INJURY
2,01/30/22,CLEAR,ONE-WAY,SNOW OR SLUSH,W,NO INDICATION OF INJURY
3,05/28/22,CLEAR,ONE-WAY,DRY,W,NO INDICATION OF INJURY
4,04/16/22,CLEAR,PARKING LOT,DRY,W,NO INDICATION OF INJURY

In [13]:
Int.head()

   POSTED_SPEED_LIMIT  CRASH_HOUR  CRASH_DAY_OF_WEEK  CRASH_MONTH
0                  25          19                  2            1
1                  10          16                  7            1
2                  25           8                  1            1
3                  25          17                  7            5
4                  10          11                  7            4

Exploring Data: 
It means analyzing the dataset. through this analyzing can understand basic statistics in the numerical columns and can check null values if the columns have.

In [14]:
#To check the statistics in the 'Int' dataset, use .describe()method
Int.describe()

       POSTED_SPEED_LIMIT    CRASH_HOUR  CRASH_DAY_OF_WEEK   CRASH_MONTH
count        43068.000000  43068.000000       43068.000000  43068.000000
mean            28.531578     13.041539           4.126521      3.088929
std              5.772958      5.647510           2.002191      1.431361
min              0.000000      0.000000           1.000000      1.000000
25%             30.000000      9.000000           2.000000      2.000000
50%             30.000000     14.000000           4.000000      3.000000
75%             30.000000     17.000000           6.000000      4.000000
max             70.000000     23.000000           7.000000      5.000000

In [15]:
# To check the unique values in the dataset, use .unique() method.
Int.nunique()

POSTED_SPEED_LIMIT    21
CRASH_HOUR            24
CRASH_DAY_OF_WEEK      7
CRASH_MONTH            5
dtype: int64

In [16]:
Object.nunique()

CRASH_DATE              152
WEATHER_CONDITION        12
TRAFFICWAY_TYPE          20
ROADWAY_SURFACE_COND      7
STREET_DIRECTION          4
MOST_SEVERE_INJURY        5
dtype: int64

In [17]:
#To see the values differences in the dataset 'Int', use the range statistic method 
#formula maximum - minimum
# using .max(), .min()function and save that in 'Range'
Range = Int.max() - Int.min()

In [18]:
# to see differences, use .head() method
Range.head()

POSTED_SPEED_LIMIT    70
CRASH_HOUR            23
CRASH_DAY_OF_WEEK      6
CRASH_MONTH            4
dtype: int64

Cleaning Data:

In [19]:
# To check the null values in 'Int' dataset
#using .isna()method
# see the sum of it, use .sum() fuction and print it.
print(Int.isna().sum())

POSTED_SPEED_LIMIT    0
CRASH_HOUR            0
CRASH_DAY_OF_WEEK     0
CRASH_MONTH           0
dtype: int64

There are no null values in the 'Int' dataset.

In [20]:
# To check the null values in 'Object' dataset
#using .isna()method
# see the sum of it, use .sum() fuction and print it.
print(Object.isna().sum())

CRASH_DATE               0
WEATHER_CONDITION        0
TRAFFICWAY_TYPE          0
ROADWAY_SURFACE_COND     0
STREET_DIRECTION         0
MOST_SEVERE_INJURY      96
dtype: int64

Here are 96 null values in the column 'MOST_SEVERE_INJURY' in the 'Object' dataset.

In [21]:
# To check the null values in 'MOST_SEVERE_INJURY' column
#use df[df[column-name].isna()]
#save the data contains null values in the 'Null_values' dataset
Null_values = Need_columns[Need_columns['MOST_SEVERE_INJURY'].isna()]

In [22]:
#To see the samples
Null_values.head()

,CRASH_DATE,POSTED_SPEED_LIMIT,WEATHER_CONDITION,TRAFFICWAY_TYPE,ROADWAY_SURFACE_COND,STREET_DIRECTION,MOST_SEVERE_INJURY,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH
885,03/05/22,25,UNKNOWN,ONE-WAY,UNKNOWN,N,NaN,21,7,3
889,02/01/22,35,RAIN,NOT DIVIDED,WET,S,NaN,17,3,2
894,05/22/22,20,CLEAR,OTHER,DRY,S,NaN,14,1,5
957,05/30/22,30,CLEAR,NOT DIVIDED,DRY,N,NaN,13,2,5
977,03/15/22,30,CLEAR,NOT DIVIDED,DRY,E,NaN,1,3,3

In [23]:
# to see the 'Need_columns' dataset's no. of columns and rows
#use the attribute .shape
Need_columns.shape

(43068, 10)

In [24]:
Car_Carshes_cleaned = Need_columns.dropna()

In [25]:
Car_Carshes_cleaned.shape

(42972, 10)

In [26]:
Car_Carshes_cleaned.head()

,CRASH_DATE,POSTED_SPEED_LIMIT,WEATHER_CONDITION,TRAFFICWAY_TYPE,ROADWAY_SURFACE_COND,STREET_DIRECTION,MOST_SEVERE_INJURY,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH
0,01/31/22,25,CLEAR,ONE-WAY,DRY,W,NO INDICATION OF INJURY,19,2,1
1,01/01/22,10,SNOW,PARKING LOT,SNOW OR SLUSH,W,NO INDICATION OF INJURY,16,7,1
2,01/30/22,25,CLEAR,ONE-WAY,SNOW OR SLUSH,W,NO INDICATION OF INJURY,8,1,1
3,05/28/22,25,CLEAR,ONE-WAY,DRY,W,NO INDICATION OF INJURY,17,7,5
4,04/16/22,10,CLEAR,PARKING LOT,DRY,W,NO INDICATION OF INJURY,11,7,4

Data Saving:
Data saving is the final step in this data-wrangling process. Should save this cleaned data in the 'datapath' using the .to_csv method from pandas.

In [27]:
datapath = Car_Carshes_cleaned.to_csv('Car_Carshes_cleaned.csv', index=False)